@using EF_Core.Models.DTOs.RequesteModels
@model CreateOrderRequestModel
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/addFood.css" /> *@
@{
    Layout = "~/Views/Shared/_SecondLayOut.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <h2>Add Staff</h2>
            <form asp-action="AddStaff">
                 <div class="form-group">
                    <label for="PostalCode">PostalCode</label>
                    <input type="number" name="PostalCode" id="PostalCode" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="Street">Street</label>
                    <input for="Street" type="text" name="Street" id="Street" class="form-control" />
                </div>
                 <div class="form-group">
                    <label for="City" class="control-label">City</label>
                    <input type="text" name="City" id="City" class="form-control"/>
                </div>
                 <div class="form-group">
                    <label for="State">State</label>
                    <input type="text" name="State" id="State" class="form-control"/>
                </div>
            </form>