
@using EF_Core.Models.DTOs.ResponseModels
@model OrderResponseModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div>
    <div>
        <label>
        NAME:@Model.Data.customerDto.User.Name
    </label>
    </div>
    
     <div>
        <label>
        PHONENUMBER:@Model.Data.customerDto.User.Email
    </label>
    </div>

    <div>
        <label>
        GENDER:@Model.Data.customerDto.Gender
    </label>
    </div>
   
    <div>
        <label>
        POSTALCODE:@Model.Data.PostalCode
    </label>
    </div>
   
    <div>
        <label>
        STREET:@Model.Data.Street
    </label>
    </div>
    <div>
        <label>
        CITY:@Model.Data.City
    </label>
    </div>
    <div>
        <label>
        STATE:@Model.Data.State
    </label>
    </div>

</div>