@using EF_Core.Models.DTOs.ResponseModels
@model CustomerResponsModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div>
    <div>
        <label>
        NAME:@Model.Data.User.Name
    </label>
    </div>

    <div>
        <label>
        GENDER:@Model.Data.Gender
    </label>
    </div>
    <div>
        <label>
        NEXT OF KIN:@Model.Data.NextOfKin
    </label>
    </div>
    <div>
        <label>
        PHONENUMBER:@Model.Data.User.PhoneNumber
    </label>
    </div>
    <div>
        <label>
        PHONENUMBER:@Model.Data.User.Email
    </label>
    </div>

</div>