@using EF_Core.Models.DTOs.ResponseModels
@model StaffResponsModel
<div>
    <div>
        <label>
        NAME:@Model.Data.User.Name
    </label>
    </div>

    <div>
        <label>
        GENDER:@Model.Data.Gender
    </label>
    </div>
    <div>
        <label>
        ROLE:@Model.Data.Role
    </label>
    </div>
    <div>
        <label>
        DATE OF BIRTH:@Model.Data.DathOfBirth
    </label>
    </div>
    <div>
        <label>
        NEXT OF KIN:@Model.Data.NextOfKin
    </label>
    </div>
    <div>
        <label>
        PHONENUMBER:@Model.Data.User.PhoneNumber
    </label>
    </div>

</div>

                          