@using EF_Core.Models.DTOs.ResponseModels
@model StaffResponsModel
<div>
    <div>
        <label>
        NAME:@Model.Data.User.Name
    </label>
    </div>

    <div>
        <label>
        GENDER:@Model.Data.Gender
    </label>
    </div>
    <div>
        <label>
        ROLE:@Model.Data.Role
    </label>
    </div>
    <div>
        <label>
        DATE OF BIRTH:@Model.Data.DathOfBirth
    </label>
    </div>
    <div>
        <label>
        NEXT OF KIN:@Model.Data.NextOfKin
    </label>
    </div>
    <div>
        <label>
        NUMBERLINE:@Model.Data.User.NumberLine
    </label>
    </div>
    <div>
        <label>
        POSTALCODE:@Model.Data.User.PostalCode
    </label>
    </div>
    <div>
        <label>
        PHONENUMBER:@Model.Data.User.PhoneNumber
    </label>
    </div>
    <div>
        <label>
        STREET:@Model.Data.User.Street
    </label>
    </div>
    <div>
        <label>
        CITY:@Model.Data.User.City
    </label>
    </div>
    <div>
        <label>
        STATE:@Model.Data.User.State
    </label>
    </div>
    <div>
        <label>
        COUNTRY:@Model.Data.User.Country
    </label>
    </div>

</div>

                          